<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1 th:text="${title}"></h1>

        <form action="#" th:action="@{/student}" th:object="${student}" method="post">
            Firstname: <input type="text" th:field="*{firstname}" /> <br />
            Lastname: <input type="text" th:field="*{lastname}" /> <br />
            Neptun: <input type="text" th:field="*{neptun}" /> <br />
            <button type="submit">Submit</button>
        </form>
        
        <ul>
            <li th:each="s : ${students}" th:text="${s}">names</li>
        </ul>

    </body>
</html>
